
<div class="row" ng-controller="listaCompras">



	<div class="row">
		<div class="col-lg-4">
			<div class="hpanel">

				<div class="panel-body float-e-margins">
					<p>
						<button class="btn btn-primary" type="button"
							ui-sref="app_views.listacomprascad">
							<i class="fa fa-file-o"></i> <br />Novo
						</button>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-lg-12">

			<div class="panel-heading">Lista de Compras</div>

			<div class="col-md-9">


				<div class="hpanel hgreen" ng-repeat="item in lista">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-8">
								<h4>
									<a href="">{{item.nome}}</a>
								</h4>
							</div>
							<div class="col-sm-4 project-info">
								<div class="project-action m-t-md">
									<div class="btn-group">

										<button class="btn btn-xs btn-default"
											ui-sref="app_views.listacomprascad({lista:{{item}} })">Alterar</button>
										<button class="btn btn-xs btn-default"
											ng-click="excluir(item)">Excluir</button>
									</div>

									
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
